// Global CSS

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Register Page and Login page

.formContainer{
    background-color: rgb(14, 14, 45);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .formWrapper{
        background-color: white;
        padding: 30px 80px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        gap:15px;
        align-items: center;

        .logo{
            color:red;
            font-size: 30px;
            font-weight: bold;
        }
        .title{
            color: black;
            font-size: 16px;
            font-weight: bold;
        }
        form{
            display: flex;
            flex-direction: column;
            gap:15px;

            input{
              width: 300px;
              height: 40px;
              padding: 10px;
              border:none;
              outline: none;
              border-bottom:1px solid rgb(163, 159, 160);
              &::placeholder{
                color:rgb(172, 172, 172)
              }
            }

            label{
                cursor: pointer;
                display: flex;
                align-items: center;
                font-size: 12px;
                gap:10px;
                color: rgb(207, 205, 205);
            }

            button{
              width: 300px;
              height: 40px;
              background-color: blue;
              color:white;
              border: none;
              font-weight: bold;
              font-size:16px;
              cursor: pointer;
            }
        }

        p{
            color:rgb(25, 25, 50);
            font-size: 13px;
        }
    }
}

// Home Page

.homeContainer{
    background-color: rgb(14, 14, 45) ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .homeWrapper{
        border:1px solid white;
        border-radius: 10px;
        width:70%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sideBar{
            flex:1;
            background-color: rgb(196, 196, 196);

            .navbar{
                background-color: rgb(21, 15, 15);
                color: white;
                display: flex;
                justify-content: space-between;
                height: 60px;
                padding: 10px;
                align-items: center;
                .logo{
                    font-weight: bold;
                }
                .user{
                    display: flex;
                    gap:10px;

                    img{
                        background-color: white;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button{
                        background-color: red;
                        color:white;
                        font-size: 12px;
                        border:none;
                        cursor: pointer;
                        border-radius: 2px;
                        padding: 5px;
                    }
                }
            }
        }
        .searchContainer{
           input{
             width:100%;
             height: 40px;
             border: none;
             outline: none;
             border-bottom: 2px solid rgb(198, 193, 193);
             padding: 10px;
             border: 2px solid rgb(199, 198, 198) ;
             margin-top: 1px;
             
             &::placeholder{
                font-size: 13px;
                color:rgb(173, 172, 172)
             }
           }
        }

        .userMain{
            overflow-y: scroll;
            height: 475px;
            .userContainer{
                background-color: rgb(51, 6, 6);
                padding: 10px;
    
                display: flex;
                align-items: center;
                gap:10px;
                margin: 5px;
    
                img{
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    object-fit:cover;
    
                }
    
                .userInfo{
                    p{
                        font-weight: bold;
                        font-size: 20px;
                        color: rgb(32, 190, 32)
                    }
                    span{
                        font-size:12px;
                        color:rgb(201, 198, 198)
                    }
                }
            }

        }
        
        .chats{
            flex:2;
            background-color: rgb(255, 255, 255);

            .navbar{
                background-color: rgb(34, 33, 33);
                color: white;
                display: flex;
                justify-content: space-between;
                height: 60px;
                padding: 10px;
                align-items: center;

                .setting{
                    gap:10px;
                    img{
                        gap:10px;
                        cursor: pointer;
                    }

                }
            }

            .messagesContainer{
                height: 470px;
                background-color: rgb(233, 233, 233);
                padding: 10px;
                overflow-y: scroll;

                .message{
                    display: flex;
                    .msgInfo{
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                        font-size: 12px;
                        color:rgb(204, 204, 204);
                        img{
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }
                .msgContent{
                    max-width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap:10px;
                    padding:10px
                }
            }
            .ReplyContainer{
                height: 46px;
                border: 2px solid white;
                display: flex;

                .reply{
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   gap: 10px;

                   img{
                        gap:10px;
                        cursor: pointer;
                        margin-top:10px;
                   }

                   button{
                        cursor: pointer;
                        margin-left: 10px;
                        background-color: blue;
                        color:white;
                        outline: none;
                        border:none;
                        padding: 10px 15px;
                    
                   }
                }

                input{
                    width:80%;
                    height: 40px;
                    border: none;
                    outline: none;
                    padding: 10px;
                    margin-top: 1px;
                    
                    &::placeholder{
                       font-size: 13px;
                       color:rgb(173, 172, 172)
                    }
                  }
            }
        }
    }

}



